matplotlib==3.5.1
opencv_python==4.10.0.84
Pillow==9.1.0
tqdm==4.66.5
numpy==1.24.4
peft==0.10.0
sentencepiece==0.2.0
scikit-learn
pandas
pyarrow
pytest==7.4.0
pytorch-forecasting
torchvision==0.19.1
sentence-transformers==4.1.0
transformers==4.41.0
pytorch-tabular